<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>一些hover效果</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/effect.css">
</head>
<body>
<div class="inner index-title">
    <h2>一些hover效果</h2>
</div>

<h2 class="inner" style="margin-bottom: 20px"></h2>
<ul class="effect inner clearfix">
    <li class="one"><span data-hover="效果一">效果一</span></li>
    <li class="two"><span data-hover="效果二">效果二</span></li>
    <li class="three"><span data-hover="效果三">效果三</span></li>
    <!-- <li class="three"><span data-hover="效果四">效果四</span></li> -->
    <!-- <li class="three"><span data-hover="效果五">效果五</span></li> -->
</ul>

<br>
<br>
<br>

</body>
</html>