<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>一些乱七八糟</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/effect.css">
</head>
<body>
<div class="inner index-title">
    <h2>一些乱七八糟</h2>
    <p>hover触发一些效果，一些loading，一些时间相关的东西</p>
</div>

<div class="inner detail-content">
    <div class="title">导航栏的hover效果</div>
    <div class="content">
        <ul class="effect clearfix">
            <li class="one"><span data-hover="效果一">效果一</span></li>
            <li class="two"><span data-hover="效果二">效果二</span></li>
            <li class="three"><span data-hover="效果三">效果三</span></li>
        </ul>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">遮罩、翻牌、万花筒、旋转魔方</div>
    <div class="content">
        <ul class="clearfix fudong">
            <li>
                <div class="shade-area">
                    <div class="shade-border"></div>
                    <div class="shade-img"></div>
                </div>
            </li>
            <li>
                <ul class="care-area clearfix">
                    <li>
                        <div class="front">正面</div>
                        <div class="back">反面</div>
                    </li>
                    <li>
                        <div class="front">正面</div>
                        <div class="back">反面</div>
                    </li>
                    <li>
                        <div class="front">正面</div>
                        <div class="back">反面</div>
                    </li>   
                </ul>
            </li>
            <li>
                <ul class="box">
                    <li style="transform: rotateY(0deg) translateZ(87px);"><img src="../images/1.jpg"></li>
                    <li style="transform: rotateY(60deg) translateZ(87px);"><img src="../images/2.jpg"></li>
                    <li style="transform: rotateY(120deg) translateZ(87px);"><img src="../images/3.jpg"></li>
                    <li style="transform: rotateY(180deg) translateZ(87px);"><img src="../images/4.jpg"></li>
                    <li style="transform: rotateY(240deg) translateZ(87px);"><img src="../images/5.jpg"></li>
                    <li style="transform: rotateY(300deg) translateZ(87px);"><img src="../images/6.jpg"></li>
                </ul>
            </li>
            <li style="position: relative;">
                <div class="cube">
                    <div class="sides">
                        <div class="top">上</div>
                        <div class="right">右</div>
                        <div class="bottom">下</div>
                        <div class="left">左</div>
                        <div class="front">前</div>
                        <div class="back">后</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">一些loading</div>
    <div class="content">
        <div class="loading-area">
            <!-- / 1 -->
            <section>
                <div class="sk-rotating-plane"></div>
            </section>
            <!-- / 2 -->
            <section>
                <div class="sk-double-bounce">
                    <div class="sk-child sk-double-bounce-1"></div>
                    <div class="sk-child sk-double-bounce-2"></div>
                </div>
            </section>
            <!-- / 3 -->
            <section>
                <div class="sk-wave">
                    <div class="sk-rect sk-rect-1"></div>
                    <div class="sk-rect sk-rect-2"></div>
                    <div class="sk-rect sk-rect-3"></div>
                    <div class="sk-rect sk-rect-4"></div>
                    <div class="sk-rect sk-rect-5"></div>
                </div>
            </section>
            <!-- / 4 -->
            <section>
                <div class="sk-wandering-cubes">
                    <div class="sk-cube sk-cube-1"></div>
                    <div class="sk-cube sk-cube-2"></div>
                </div>
            </section>
            <!-- / 5 -->
            <section>
                <div class="sk-spinner sk-spinner-pulse"></div>
            </section>
            <!-- / 6 -->
            <section>
                <div class="sk-chasing-dots">
                    <div class="sk-child sk-dot-1"></div>
                    <div class="sk-child sk-dot-2"></div>
                </div>
            </section>
            <!-- / 7 -->
            <section>
                <div class="sk-three-bounce">
                    <div class="sk-bounce-1 sk-child"></div>
                    <div class="sk-bounce-2 sk-child"></div>
                    <div class="sk-bounce-3 sk-child"></div>
                </div>
            </section>
            <!-- / 8 -->
            <section>
                <div class="sk-circle-bounce">
                    <div class="sk-child sk-circle-1"></div>
                    <div class="sk-child sk-circle-2"></div>
                    <div class="sk-child sk-circle-3"></div>
                    <div class="sk-child sk-circle-4"></div>
                    <div class="sk-child sk-circle-5"></div>
                    <div class="sk-child sk-circle-6"></div>
                    <div class="sk-child sk-circle-7"></div>
                    <div class="sk-child sk-circle-8"></div>
                    <div class="sk-child sk-circle-9"></div>
                    <div class="sk-child sk-circle-10"></div>
                    <div class="sk-child sk-circle-11"></div>
                    <div class="sk-child sk-circle-12"></div>
                </div>
            </section>
            <!-- / 9 -->
            <section>
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube-1"></div>
                    <div class="sk-cube sk-cube-2"></div>
                    <div class="sk-cube sk-cube-3"></div>
                    <div class="sk-cube sk-cube-4"></div>
                    <div class="sk-cube sk-cube-5"></div>
                    <div class="sk-cube sk-cube-6"></div>
                    <div class="sk-cube sk-cube-7"></div>
                    <div class="sk-cube sk-cube-8"></div>
                    <div class="sk-cube sk-cube-9"></div>
                </div>
            </section>
            <!-- / 10 -->
            <section>
                <div class="sk-folding-cube">
                    <div class="sk-cube sk-cube-1"></div>
                    <div class="sk-cube sk-cube-2"></div>
                    <div class="sk-cube sk-cube-4"></div>
                    <div class="sk-cube sk-cube-3"></div>
                </div>
            </section>
            <!-- / 11 -->
            <section>
                <div class="loading">
                    <span>loading……</span>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">仿苹果时钟</div>
    <div class="content">
        <div class="icon-large">
            <div class="clock">
                <ul>
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>3</span></li>
                    <li><span>4</span></li>
                    <li><span>5</span></li>
                    <li><span>6</span></li>
                    <li><span>7</span></li>
                    <li><span>8</span></li>
                    <li><span>9</span></li>
                    <li><span>10</span></li>
                    <li><span>11</span></li>
                    <li><span>12</span></li>
                </ul>
                <div class="arms">
                    <div id="hour" class="hour"></div>
                    <div id="minute" class="minute"></div>
                    <div id="second" class="second"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">倒计时（距2019年9月17日12:30:24）</div>
    <div class="content">
        <span id="days">0</span>天
        <span id="hours">0</span>时
        <span id="minutes">0</span>分
        <span id="seconds">0</span>秒
    </div>
</div>

<div class="inner detail-content">
    <div class="title">css处理英文大小写</div>
    <div class="content">
        <p>text-transform属性实现大小写</p>
        <p>默认：year is a vEry GOOd year</p>
        <p style="text-transform: uppercase;">uppercase全部大写：year is a vEry GOOd year</p>
        <p style="text-transform: lowercase;">lowercase全部小写：year is a vEry GOOd year</p>
        <p style="text-transform: capitalize;">capitalize首字母大写：year is a vEry GOOd year；但是有缺陷</p>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">浮动可以实现在文章中插入图片</div>
    <div class="content">
        <div class="clearfix">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus nibh ipsum, nec tincidunt
                mauris suscipit non. Nullam euismod est in dui vehicula ornare quis non nulla. Sed ultricies eros justo,
                et tempor ligula viverra vel. Pellentesque semper mattis mattis. Morbi ac fringilla purus, in
                ullamcorper lacus. Duis eget molestie turpis, nec lobortis enim. Vestibulum iaculis non odio id venenatis.
                Nulla malesuada orci sed arcu ultrices pulvinar. Fusce orci nisl, aliquam eu blandit non, ornare eu urna.
                In hac habitasse platea dictumst. Quisque auctor dignissim elit, id condimentum odio vehicula eu.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Proin dui quam, lobortis nec sapien eget, facilisis blandit sapien. Integer ornare felis eget orci
                consectetur vulputate. Ut efficitur fermentum lacus sed vulputate. </p>
            <div class="wrap-div"> DIV with content or Image in the Middle of the text </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus nibh ipsum, nec tincidunt
                mauris suscipit non. Nullam euismod est in dui vehicula ornare quis non nulla. Sed ultricies eros justo,
                et tempor ligula viverra vel. Pellentesque semper mattis mattis. Morbi ac fringilla purus, in
                ullamcorper lacus. Duis eget molestie turpis, nec lobortis enim. Vestibulum iaculis non odio id venenatis.
                Nulla malesuada orci sed arcu ultrices pulvinar. Fusce orci nisl, aliquam eu blandit non, ornare eu urna.
                In hac habitasse platea dictumst. Quisque auctor dignissim elit, id condimentum odio vehicula eu.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Proin dui quam, lobortis nec sapien eget, facilisis blandit sapien. Integer ornare felis eget orci
                consectetur vulputate. Ut efficitur fermentum lacus sed vulputate. </p>
            <div class="wrap-div wrap-div-right"> DIV with content or Image in the Middle of the text </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus nibh ipsum, nec tincidunt
                mauris suscipit non. Nullam euismod est in dui vehicula ornare quis non nulla. Sed ultricies eros justo,
                et tempor ligula viverra vel. Pellentesque semper mattis mattis. Morbi ac fringilla purus, in ullamcorper
                lacus. Duis eget molestie turpis, nec lobortis enim. Vestibulum iaculis non odio id venenatis.
                Nulla malesuada orci sed arcu ultrices pulvinar. Fusce orci nisl, aliquam eu blandit non, ornare eu urna.
                In hac habitasse platea dictumst. Quisque auctor dignissim elit, id condimentum odio vehicula eu.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Proin dui quam, lobortis nec sapien eget, facilisis blandit sapien. Integer ornare felis eget orci
                consectetur vulputate. Ut efficitur fermentum lacus sed vulputate. </p>
        </div>
    </div>
</div>

<div class="inner detail-content">
    <div class="title">一个海绵宝宝（写着玩）</div>
    <div class="content">
        <div class="body">
            <div class="eye-area clearfix">
                <div class="eye">
                    <div class="eye-mao"></div>
                </div>
                <div class="eye">
                    <div class="eye-mao"></div>
                </div>
            </div>
            <div class="nose-area clearfix">
                <div class="nose-left"></div>
                <div class="nose"></div>
                <div class="nose-right"></div>
            </div>
            <div class="mouse"></div>
        
            <div class="hand-left">
                <div class="hand"></div>
            </div>
            <div class="hand-right">
                <div class="hand"></div>
            </div>        
        </div>
        <div class="footer">
            <div class="top-area clearfix">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <ul class="bottom-area clearfix">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        
        <div class="footer-area clearfix">
            <div class="footer-left"></div>
            <div class="footer-right"></div>
        </div>
    </div>
</div>

<script>
    // 仿苹果时钟
    (function (win, doc) {
        win.requestAnimationFrame = win.requestAnimationFrame ||
            win.webkitRequestAnimationFrame ||
            win.mozRequestAnimationFrame ||
            window.msRequestAnimationFrame;
        var hour = doc.getElementById("hour"),
            minute = doc.getElementById("minute"),
            second = doc.getElementById("second");
        var start = function () {
            // 当前时间
            var now = new Date(),
                // 午夜12点整
                midnight = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0),
                // 当前时间与午夜12的之间的毫秒差
                ms = now.getTime() - midnight.getTime(),
                // 计算时、分、秒
                hh = ms / (1000 * 60 * 60),
                mm = hh * 60,
                ss = mm * 60;
            // 实现时钟旋转
            hour.style.transform = "translate(-50%,-50%) rotate(" + (hh * 30) + "deg)";
            minute.style.transform = "translate(-50%,-50%) rotate(" + (mm * 6) + "deg)";
            second.style.transform = "translate(-50%,-50%) rotate(" + (ss * 6) + "deg)";
            win.requestAnimationFrame(start);
        };
        win.requestAnimationFrame(start);
    })(window, document);

    // 时间计算
    function leftTimer(year,month,day,hour,minute,second){
        var leftTime = (new Date(year,month-1,day,hour,minute,second)) - (new Date());
        var days = parseInt(leftTime / 1000 / 60 / 60 / 24 , 10);
        var hours = parseInt(leftTime / 1000 / 60 / 60 % 24 , 10);
        var minutes = parseInt(leftTime / 1000 / 60 % 60, 10);
        var seconds = parseInt(leftTime / 1000 % 60, 10);
        document.getElementById('days').innerHTML = days;
        document.getElementById('hours').innerHTML = hours;
        document.getElementById('minutes').innerHTML = minutes;
        document.getElementById('seconds').innerHTML = seconds;
    }
    setInterval("leftTimer(2019,9,17,12,30,24)",1000);
</script>

</body>
</html>