<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>左侧菜单</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/left-menu.css">
</head>
<body>
<div class="inner index-title">
    <h2>左侧菜单展示类型</h2>
    <p>弹框形式的左侧菜单，在电商网站的首页或者二级频道页比较常见，弹框都是顶部对齐</p>
    <p>展开收起形式的菜单，是最常见功能，示例默认是全部展开，可以通过给菜单加"up"类，
        给分类整个块加"active"类，选择哪个是默认收起的</p>
</div>

<div class="inner">
    <h2 style="margin-bottom: 20px">弹框</h2>
    <ul class="left-menu-01">
        <li>
            <a href="javascript:void (0)">菜单1</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单1-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单1-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单1-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void (0)">菜单2</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单2-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单2-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单2-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void (0)">菜单3</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单3-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单3-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单3-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void (0)">菜单4</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单4-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单4-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单4-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单4-4</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单4-5</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void (0)">菜单5</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单5-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单5-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单5-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void (0)">菜单6</a>
            <div class="menu-box clearfix">
                <ul class="left">
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单6-1</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单6-2</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="title">[<a href="javascript:void (0)">菜单6-3</a>]</div>
                        <ul class="clearfix">
                            <li><a href="javascript:void (0)">分类1</a></li>
                            <li><a href="javascript:void (0)">分类2</a></li>
                            <li><a href="javascript:void (0)">分类3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="right">
                    <li>广告</li>
                    <li>广告</li>
                </ul>
            </div>
        </li>
    </ul>

    <br>
    <br>
    <br>

    <h2 style="margin-bottom: 20px">展开、收起</h2>
    <ul class="left-menu-02">
        <li>
            <div class="title">菜单一</div>
            <ul>
                <li><a href="javascript:void (0)">分类一</a></li>
                <li><a href="javascript:void (0)">分类二</a></li>
                <li><a href="javascript:void (0)">分类三</a></li>
            </ul>
        </li>
        <li>
            <div class="title">菜单二</div>
            <ul>
                <li><a href="javascript:void (0)">分类一</a></li>
                <li><a href="javascript:void (0)">分类二</a></li>
                <li><a href="javascript:void (0)">分类三</a></li>
            </ul>
        </li>
        <li>
            <div class="title">菜单三</div>
            <ul>
                <li><a href="javascript:void (0)">分类一</a></li>
                <li><a href="javascript:void (0)">分类二</a></li>
                <li><a href="javascript:void (0)">分类三</a></li>
            </ul>
        </li>
    </ul>
</div>

<script src="../plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        //点击展开收起
        (function ($) {
            var menuShow = function () {
                var $this = $(this),
                    $siblings = $this.siblings('ul');
                if (($this.hasClass('up')) && ($siblings.hasClass('active'))){
                    $this.removeClass('up');
                    $siblings.removeClass('active');
                } else {
                    $this.addClass('up');
                    $siblings.addClass('active');
                }
            };
            //执行
            $(document).on("click",".left-menu-02 > li .title",menuShow);
        })(jQuery);

    })
</script>

</body>
</html>