<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>快捷入口</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/shortcut.css">
</head>
<body>

<div class="inner index-title">
    <h2>网站快捷入口</h2>
    <p>电商网站（淘宝、京东）都会有的东西，仅作参考，实际可以修改或者现做</p>
</div>

<div class="shortcut">
    <div class="inner clearfix">
        <ul class="left clearfix">
            <li><a href="javascript:void (0)">请登录</a></li>
            <li><a href="javascript:void (0)">注册</a></li>
        </ul>
        <ul class="right clearfix">
            <li><a href="javascript:void (0)">首页</a></li>
            <li class="collection"><a href="javascript:void (0)">我的收藏</a></li>
            <li class="info">
                <a href="javascript:void (0)" >个人信息</a>
                <ul class="info-box">
                    <li><a href="javascript:void (0)">资料</a></li>
                    <li><a href="javascript:void (0)">我的资料</a></li>
                    <li><a href="javascript:void (0)">我的资料</a></li>
                    <li><a href="javascript:void (0)">我的资料我的资料</a></li>
                </ul>
            </li>
            <li><a href="javascript:void (0)">联系客服</a></li>
        </ul>
    </div>
</div>

</body>
</html>