<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .mouseChange {
            cursor: pointer;
        }
    </style>
</head>
<body>
<svg width="1550" height="1300" xmlns="http://www.w3.org/2000/svg">
    <g>
        <!--一号线-->
        <g class="mouseChange">
            <polyline class="line-01" points="236,665 236,536 695,536 695,456 624,456" stroke="#f1cd44" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="696" cy="494" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="489" cy="536" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="455" cy="536" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="349" cy="536" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="286" cy="536" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="236" cy="554" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="236" cy="601" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="236" cy="621" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f1cd44" stroke-width="2" fill="#ffffff" cx="236" cy="645" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="497" x="703" fill="#000000">体育中路</text>
            <text class="lineText" font-size="8" y="525" x="472" fill="#000000">烈士陵园</text>
            <text class="lineText" font-size="8" y="552" x="443" fill="#000000">农讲所</text>
            <text class="lineText" font-size="8" y="553" x="338" fill="#000000">西门口</text>
            <text class="lineText" font-size="8" y="526" x="275" fill="#000000">陈家祠</text>
            <text class="lineText" font-size="8" y="558" x="244" fill="#000000">长寿路</text>
            <text class="lineText" font-size="8" y="603" x="245" fill="#000000">芳村</text>
            <text class="lineText" font-size="8" y="625" x="245" fill="#000000">花地湾</text>
            <text class="lineText" font-size="8" y="648" x="245" fill="#000000">坑口</text>
            <rect height="26" width="50" y="700" x="213" fill="#f1cd44" rx="5"></rect>
            <text class="rectText" font-size="8" y="716" x="225" fill="#ffffff">1号线</text>
        </g>
        <!--二号线-->
        <g class="mouseChange">
            <polyline class="line-02" points="520,225 426,396 426,685 503,753 503,821 411,946" stroke="#0060a1" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="505" cy="251" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="491" cy="277" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="475" cy="307" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="459" cy="336" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="443" cy="364" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="430" cy="389" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="426" cy="427" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="426" cy="485" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="426" cy="507" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="426" cy="604" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="426" cy="634" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="456" cy="712" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="482" cy="735" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="503" cy="771" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="503" cy="793" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="503" cy="810" rx="4" ry="4"></ellipse>
            <ellipse stroke="#0060a1" stroke-width="2" fill="#ffffff" cx="489" cy="840" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="251" x="480" fill="#000000">黄边</text>
            <text class="lineText" font-size="8" y="277" x="465" fill="#000000">江夏</text>
            <text class="lineText" font-size="8" y="307" x="450" fill="#000000">萧岗</text>
            <text class="lineText" font-size="8" y="335" x="400" fill="#000000">白云文化广场</text>
            <text class="lineText" font-size="8" y="365" x="400" fill="#000000">白云公园</text>
            <text class="lineText" font-size="8" y="388" x="390" fill="#000000">飞翔公园</text>
            <text class="lineText" font-size="8" y="429" x="390" fill="#000000">三元里</text>
            <text class="lineText" font-size="8" y="488" x="385" fill="#000000">越秀公园</text>
            <text class="lineText" font-size="8" y="509" x="390" fill="#000000">纪念堂</text>
            <text class="lineText" font-size="8" y="608" x="390" fill="#000000">市二宫</text>
            <text class="lineText" font-size="8" y="638" x="390" fill="#000000">江南西</text>
            <text class="lineText" font-size="8" y="720" x="425" fill="#000000">江泰路</text>
            <text class="lineText" font-size="8" y="740" x="450" fill="#000000">东晓南</text>
            <text class="lineText" font-size="8" y="773" x="478" fill="#000000">南州</text>
            <text class="lineText" font-size="8" y="795" x="478" fill="#000000">洛溪</text>
            <text class="lineText" font-size="8" y="813" x="478" fill="#000000">南浦</text>
            <text class="lineText" font-size="8" y="840" x="465" fill="#000000">会江</text>
            <rect height="26" width="50" y="200" x="460" fill="#0060a1" rx="5"></rect>
            <text font-size="8" y="216" x="474" fill="#ffffff">2号线</text>
        </g>
        <!--三号线-->
        <g class="mouseChange">
            <polyline class="line-03" points="516,86 521,89 521,239 621,339 621,539" stroke="#f3753a" stroke-width="6" fill="none"></polyline>
            <polyline class="line-03" points="753,428 753,543 621,543 621,856 753,1012" stroke="#f3753a" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="514" cy="85" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="521" cy="110" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="521" cy="159" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="521" cy="198" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="549" cy="267" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="579" cy="297" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="609" cy="327" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="357" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="387" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="709" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="739" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="774" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="621" cy="813" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="686" cy="931" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="753" cy="1012" rx="4" ry="4"></ellipse>
            <!--支线-->
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="753" cy="451" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="753" cy="483" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="753" cy="516" rx="4" ry="4"></ellipse>
            <ellipse stroke="#f3753a" stroke-width="2" fill="#ffffff" cx="719" cy="543" rx="4" ry="4"></ellipse>
            <!--北延-->
            <text class="lineText" font-size="8" y="83" x="528" fill="#000000">机场南✈</text>
            <text class="lineText" font-size="8" y="113" x="532" fill="#000000">机场北✈</text>
            <text class="lineText" font-size="8" y="163" x="532" fill="#000000">人和</text>
            <text class="lineText" font-size="8" y="201" x="532" fill="#000000">龙归</text>
            <text class="lineText" font-size="8" y="263" x="558" fill="#000000">白云大道北</text>
            <text class="lineText" font-size="8" y="295" x="587" fill="#000000">永泰</text>
            <text class="lineText" font-size="8" y="325" x="618" fill="#000000">同和</text>
            <text class="lineText" font-size="8" y="360" x="631" fill="#000000">京溪南方医院</text>
            <text class="lineText" font-size="8" y="393" x="631" fill="#000000">梅花园</text>
            <!--主线-->
            <text class="lineText" font-size="8" y="455" x="762" fill="#000000" >五山</text>
            <text class="lineText" font-size="8" y="485" x="762" fill="#000000" >华师</text>
            <text class="lineText" font-size="8" y="520" x="762" fill="#000000" >岗顶</text>
            <text class="lineText" font-size="8" y="560" x="705" fill="#000000" >石牌桥</text>
            <text class="lineText" font-size="8" y="713" x="630" fill="#000000">大塘</text>
            <text class="lineText" font-size="8" y="743" x="630" fill="#000000">沥滘</text>
            <text class="lineText" font-size="8" y="778" x="630" fill="#000000">厦滘</text>
            <text class="lineText" font-size="8" y="816" x="630" fill="#000000">大石</text>
            <text class="lineText" font-size="8" y="934" x="695" fill="#000000">市桥</text>
            <text class="lineText" font-size="8" y="1010" x="760" fill="#000000">番禺广场</text>
            <rect height="26" width="50" y="72" x="450" fill="#f3753a" rx="5"></rect>
            <text font-size="8" y="88" x="464" fill="#ffffff" >3号线</text>
        </g>
        <!--四号线-->
        <g class="mouseChange">
            <polyline class="line-04" points="907,510 825,559 825,708 1183,1004" stroke="#007e3a" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="910" cy="508" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="864" cy="535" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="825" cy="692" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="858" cy="736" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="926" cy="792" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="951" cy="812" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="975" cy="832" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1003" cy="855" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1024" cy="873" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1050" cy="894" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1072" cy="913" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1099" cy="935" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1125" cy="957" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1155" cy="981" rx="4" ry="4"></ellipse>
            <ellipse stroke="#007e3a" stroke-width="2" fill="#ffffff" cx="1181" cy="1002" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="515" x="918" fill="#000000">黄村</text>
            <text class="lineText" font-size="8" y="530" x="841" fill="#000000">车陂</text>
            <text class="lineText" font-size="8" y="697" x="833" fill="#000000">官洲</text>
            <text class="lineText" font-size="8" y="730" x="860" fill="#000000">大学城北</text>
            <text class="lineText" font-size="8" y="787" x="930" fill="#000000">新造</text>
            <text class="lineText" font-size="8" y="805" x="955" fill="#000000">官桥</text>
            <text class="lineText" font-size="8" y="825" x="980" fill="#000000">石基</text>
            <text class="lineText" font-size="8" y="850" x="1008" fill="#000000">海傍</text>
            <text class="lineText" font-size="8" y="868" x="1030" fill="#000000">低涌</text>
            <text class="lineText" font-size="8" y="888" x="1055" fill="#000000">东涌</text>
            <text class="lineText" font-size="8" y="908" x="1078" fill="#000000">庆盛</text>
            <text class="lineText" font-size="8" y="928" x="1102" fill="#000000">黄阁汽车城</text>
            <text class="lineText" font-size="8" y="950" x="1130" fill="#000000">黄阁</text>
            <text class="lineText" font-size="8" y="975" x="1160" fill="#000000">蕉门</text>
            <text class="lineText" font-size="8" y="1000" x="1188" fill="#000000">金州</text>
            <rect height="26" width="50" y="1014" x="1128" fill="#007e3a" rx="5"></rect>
            <text font-size="8" y="1030" x="1142" fill="#ffffff">4号线</text>
        </g>
        <!--五号线-->
        <g class="mouseChange">
            <polyline class="line-05" points="101,569 236,464 431,464 471,499 571,499 571,579 831,579 921,649 1141,649 " stroke="#e60012" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="101" cy="569" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="194" cy="496" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="218" cy="478" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="270" cy="464" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="451" cy="481" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="498" cy="499" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="549" cy="499" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="571" cy="565" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="677" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="711" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="747" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="788" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="861" cy="602" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="896" cy="629" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="963" cy="649" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="1023" cy="649" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="1087" cy="649" rx="4" ry="4"></ellipse>
            <ellipse stroke="#e60012" stroke-width="2" fill="#ffffff" cx="1144" cy="649" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="565" x="80" fill="#000000" >滘口</text>
            <text class="lineText" font-size="8" y="508" x="199" fill="#000000">中八山</text>
            <text class="lineText" font-size="8" y="490" x="226" fill="#000000">西场</text>
            <text class="lineText" font-size="8" y="456" x="262" fill="#000000">西村</text>
            <text class="lineText" font-size="8" y="475" x="452" fill="#000000">小北</text>
            <text class="lineText" font-size="8" y="490" x="490" fill="#000000">淘金</text>
            <text class="lineText" font-size="8" y="490" x="545" fill="#000000">动物园</text>
            <text class="lineText" font-size="8" y="568" x="580" fill="#000000">五羊邨</text>
            <text class="lineText" font-size="8" y="595" x="667" fill="#000000">猎德</text>
            <text class="lineText" font-size="8" y="595" x="703" fill="#000000">潭村</text>
            <text class="lineText" font-size="8" y="595" x="740" fill="#000000">员村</text>
            <text class="lineText" font-size="8" y="595" x="775" fill="#000000">科韵路</text>
            <text class="lineText" font-size="8" y="597" x="865" fill="#000000">东圃</text>
            <text class="lineText" font-size="8" y="626" x="902" fill="#000000">三溪</text>
            <text class="lineText" font-size="8" y="640" x="1010" fill="#000000">大沙地</text>
            <text class="lineText" font-size="8" y="640" x="1075" fill="#000000">大沙东</text>
            <text class="lineText" font-size="8" y="640" x="1135" fill="#000000">文冲</text>
            <rect height="26" width="50" y="636" x="1165" fill="#e60012" rx="5"></rect>
            <text font-size="8" y="652" x="1179" fill="#ffffff">5号线</text>
        </g>
        <!--六号线-->
        <g class="mouseChange">
            <polyline class="line-06" points="71,409 171,469 171,539 221,579 521,579 521,429 751,429 801,359 1251,359" stroke="#993366" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="71" cy="408" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="120" cy="439" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="154" cy="459" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="171" cy="485" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="195" cy="558" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="289" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="352" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="447" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="483" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="511" cy="579" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="521" cy="469" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="521" cy="445" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="541" cy="429" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="585" cy="429" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="778" cy="391" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="821" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="871" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="921" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="966" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1016" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1064" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1115" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1167" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1215" cy="359" rx="4" ry="4"></ellipse>
            <ellipse stroke="#993366" stroke-width="2" fill="#ffffff" cx="1254" cy="359" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="400" x="70" fill="#000000">浔峰岗</text>
            <text class="lineText" font-size="8" y="435" x="125" fill="#000000">横沙</text>
            <text class="lineText" font-size="8" y="455" x="160" fill="#000000">沙贝</text>
            <text class="lineText" font-size="8" y="488" x="148" fill="#000000">河沙</text>
            <text class="lineText" font-size="8" y="565" x="165" fill="#000000">如意坊</text>
            <text class="lineText" font-size="8" y="595" x="275" fill="#000000">文化公园</text>
            <text class="lineText" font-size="8" y="595" x="340" fill="#000000">一德路</text>
            <text class="lineText" font-size="8" y="595" x="438" fill="#000000">北京路</text>
            <text class="lineText" font-size="8" y="570" x="459" fill="#000000">团一大广场</text>
            <text class="lineText" font-size="8" y="595" x="503" fill="#000000">东湖</text>
            <text class="lineText" font-size="8" y="470" x="528" fill="#000000">黄花岗</text>
            <text class="lineText" font-size="8" y="448" x="490" fill="#000000">沙河顶</text>
            <text class="lineText" font-size="8" y="420" x="510" fill="#000000">沙河（未开通）</text>
            <text class="lineText" font-size="8" y="444" x="572" fill="#000000">天平架</text>
            <text class="lineText" font-size="8" y="398" x="783" fill="#000000">长湴</text>
            <text class="lineText" font-size="8" y="350" x="808" fill="#000000">植物园</text>
            <text class="lineText" font-size="8" y="350" x="863" fill="#000000">龙洞</text>
            <text class="lineText" font-size="8" y="350" x="907" fill="#000000">柯木塱</text>
            <text class="lineText" font-size="8" y="350" x="955" fill="#000000">高塘石</text>
            <text class="lineText" font-size="8" y="350" x="1008" fill="#000000">黄陂</text>
            <text class="lineText" font-size="8" y="350" x="1056" fill="#000000">金峰</text>
            <text class="lineText" font-size="8" y="350" x="1106" fill="#000000">暹岗</text>
            <text class="lineText" font-size="8" y="350" x="1159" fill="#000000">苏元</text>
            <text class="lineText" font-size="8" y="350" x="1207" fill="#000000">萝岗</text>
            <text class="lineText" font-size="8" y="350" x="1245" fill="#000000">香雪</text>
            <rect height="26" width="50" y="347" x="1270" fill="#993366" rx="5"></rect>
            <text fill="#ffffff" y="363" x="1284" font-size="8">6号线</text>
        </g>
        <!--七号线-->
        <g class="mouseChange">
            <polyline class="line-07" points="416,951 487,855 807,855 892,771" stroke="#87d300" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#87d300" stroke-width="2" fill="#ffffff" cx="520" cy="855" rx="4" ry="4"></ellipse>
            <ellipse stroke="#87d300" stroke-width="2" fill="#ffffff" cx="571" cy="855" rx="4" ry="4"></ellipse>
            <ellipse stroke="#87d300" stroke-width="2" fill="#ffffff" cx="685" cy="855" rx="4" ry="4"></ellipse>
            <ellipse stroke="#87d300" stroke-width="2" fill="#ffffff" cx="754" cy="855" rx="4" ry="4"></ellipse>
            <ellipse stroke="#87d300" stroke-width="2" fill="#ffffff" cx="846" cy="816" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="871" x="510" fill="#000000">谢村</text>
            <text class="lineText" font-size="8" y="872" x="563" fill="#000000">钟村</text>
            <text class="lineText" font-size="8" y="871" x="670" fill="#000000">南村万博</text>
            <text class="lineText" font-size="8" y="873" x="745" fill="#000000">员岗</text>
            <text class="lineText" font-size="8" y="827" x="852" fill="#000000">板桥</text>
            <rect height="26" width="50" y="770" x="810" fill="#87d300" rx="5"></rect>
            <text font-size="8" y="786" x="824" fill="#ffffff">7号线</text>
        </g>
        <!--八号线-->
        <g class="mouseChange">
            <polyline class="line-08" points="342,641 342,671 823,671" stroke="#008193" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="342" cy="640" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="386" cy="670" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="478" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="529" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="576" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="659" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="703" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="750" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#008193" stroke-width="2"  fill="#ffffff" cx="790" cy="671" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="630" x="325" fill="#000000">凤凰新村</text>
            <text class="lineText" font-size="8" y="686" x="366" fill="#000000">宝岗大道</text>
            <text class="lineText" font-size="8" y="685" x="470" fill="#000000">晓港</text>
            <text class="lineText" font-size="8" y="662" x="520" fill="#000000">中大</text>
            <text class="lineText" font-size="8" y="685" x="570" fill="#000000">鹭江</text>
            <text class="lineText" font-size="8" y="685" x="650" fill="#000000">赤岗</text>
            <text class="lineText" font-size="8" y="685" x="690" fill="#000000">磨碟沙</text>
            <text class="lineText" font-size="8" y="685" x="735" fill="#000000">新港东</text>
            <text class="lineText" font-size="8" y="685" x="780" fill="#000000">琶洲</text>
            <rect height="26" width="50" y="660" x="875" fill="#008193" rx="5"></rect>
            <text font-size="8" y="676" x="890" fill="#ffffff">8号线</text>
        </g>
        <!--九号线-->
        <g class="mouseChange">
            <polyline class="line-09" points="80,138 200,138 250,88 350,88 400,138 520,138 " stroke="#5EC998" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="80" cy="138" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="118" cy="138" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="164" cy="138" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="215" cy="123" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="236" cy="102" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="273" cy="88" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="327" cy="88" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="374" cy="111" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="426" cy="138" rx="4" ry="4"></ellipse>
            <ellipse stroke="#5ec998" stroke-width="2" fill="#ffffff" cx="476" cy="138" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="130" x="65" fill="#000000">飞鹅岭</text>
            <text class="lineText" font-size="8" y="155" x="95" fill="#000000">花都汽车城</text>
            <text class="lineText" font-size="8" y="130" x="145" fill="#000000">广东北站</text>
            <text class="lineText" font-size="8" y="130" x="222" fill="#000000">花城路</text>
            <text class="lineText" font-size="8" y="98" x="190" fill="#000000">花果山公园</text>
            <text class="lineText" font-size="8" y="80" x="255" fill="#000000">花都广场</text>
            <text class="lineText" font-size="8" y="80" x="310" fill="#000000">马鞍山公园</text>
            <text class="lineText" font-size="8" y="110" x="380" fill="#000000">莲塘</text>
            <text class="lineText" font-size="8" y="130" x="415" fill="#000000">清㘵</text>
            <text class="lineText" font-size="8" y="130" x="465" fill="#000000">清塘</text>
            <rect height="26" width="50" y="150" x="30" fill="#5EC998" rx="5"></rect>
            <text font-size="8" y="166" x="44" fill="#ffffff">9号线</text>
        </g>
        <!--十三号线-->
        <g class="mouseChange">
            <polyline class="line-13" points="963,653 963,731 1187,731 1281,630 1385,630" stroke="#888600" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1012" cy="731" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1068" cy="731" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1120" cy="731" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1162" cy="731" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1219" cy="697" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1244" cy="670" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1265" cy="647" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1310" cy="630" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1347" cy="630" rx="4" ry="4"></ellipse>
            <ellipse stroke="#888600" stroke-width="2" fill="#ffffff" cx="1384" cy="630" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="745" x="1000" fill="#000000">裕丰围</text>
            <text class="lineText" font-size="8" y="745" x="1060" fill="#000000">双岗</text>
            <text class="lineText" font-size="8" y="745" x="1105" fill="#000000">南海神庙</text>
            <text class="lineText" font-size="8" y="745" x="1153" fill="#000000">夏园</text>
            <text class="lineText" font-size="8" y="705" x="1226" fill="#000000">南岗</text>
            <text class="lineText" font-size="8" y="675" x="1253" fill="#000000">沙村</text>
            <text class="lineText" font-size="8" y="650" x="1274" fill="#000000">白江</text>
            <text class="lineText" font-size="8" y="622" x="1300" fill="#000000">新塘</text>
            <text class="lineText" font-size="8" y="622" x="1337" fill="#000000">官湖</text>
            <text class="lineText" font-size="8" y="622" x="1375" fill="#000000">新沙</text>
            <rect height="26" width="50" y="617" x="1400" fill="#888600" rx="5"></rect>
            <text font-size="8" y="633" x="1410" fill="#ffffff" >13号线</text>
        </g>
        <!--十四号线-->
        <g class="mouseChange">
            <polyline class="line-14" points="906,90 1061,275 1142,275" stroke="#AE005F" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="906" cy="89" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="924" cy="112" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="946" cy="137" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="964" cy="160" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="986" cy="186" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="1006" cy="210" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="1027" cy="234" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="1047" cy="259" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="1098" cy="275" rx="4" ry="4"></ellipse>
            <ellipse stroke="#ae005f" stroke-width="2" fill="#ffffff" cx="1143" cy="275" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="93" x="880" fill="#000000">新和</text>
            <text class="lineText" font-size="8" y="120" x="900" fill="#000000">红卫</text>
            <text class="lineText" font-size="8" y="143" x="920" fill="#000000">新南</text>
            <text class="lineText" font-size="8" y="165" x="938" fill="#000000">枫下</text>
            <text class="lineText" font-size="8" y="192" x="953" fill="#000000">知识城</text>
            <text class="lineText" font-size="8" y="215" x="973" fill="#000000">何棠下</text>
            <text class="lineText" font-size="8" y="240" x="1003" fill="#000000">旺村</text>
            <text class="lineText" font-size="8" y="265" x="1023" fill="#000000">汤村</text>
            <text class="lineText" font-size="8" y="290" x="1085" fill="#000000">镇龙北</text>
            <text class="lineText" font-size="8" y="290" x="1135" fill="#000000">镇龙</text>
            <rect height="26" width="50" y="260" x="1160" fill="#AE005F" rx="5"></rect>
            <text font-size="8" y="276" x="1173" fill="#ffffff">14号线</text>
        </g>
        <!--APM线-->
        <g class="mouseChange">
            <polyline class="line-APM" points="1391,45 1401,50 1401,296" stroke="#28a7e1" stroke-width="6" fill="none"></polyline>
            <polyline class="line-APM" points="640,487 649,490 649,635" stroke="#28a7e1" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="73" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="107" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="144" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="178" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="213" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="246" rx="4" ry="4"></ellipse>
            <ellipse stroke="#28a7e1" stroke-width="2" fill="#ffffff" cx="1401" cy="275" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="76"  x="1410" fill="#000000">体育中心南</text>
            <text class="lineText" font-size="8" y="110" x="1410" fill="#000000">天河南</text>
            <text class="lineText" font-size="8" y="146" x="1410" fill="#000000">黄埔大道</text>
            <text class="lineText" font-size="8" y="181" x="1410" fill="#000000">妇儿中心</text>
            <text class="lineText" font-size="8" y="215" x="1410" fill="#000000">花城大道</text>
            <text class="lineText" font-size="8" y="248" x="1410" fill="#000000">大剧院</text>
            <text class="lineText" font-size="8" y="278" x="1410" fill="#000000">海心沙</text>
            <rect height="26" width="50" y="25" x="1420" fill="#28a7e1" rx="5"></rect>
            <text font-size="8" y="41" x="1430" fill="#ffffff">APM线</text>
            <!--换乘接线-->
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="49" cx="1375" fill="#28a7e1"></ellipse>
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="49" cx="1379" fill="#28a7e1"></ellipse>
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="49" cx="1383" fill="#28a7e1"></ellipse>
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="303" cx="1375" fill="#28a7e1"></ellipse>
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="303" cx="1379" fill="#28a7e1"></ellipse>
            <ellipse stroke="#ffffff" ry="2" rx="2" cy="303" cx="1383" fill="#28a7e1"></ellipse>
            <ellipse ry="2" rx="6" cy="504" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="521" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="551" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="564" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="593" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="609" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
            <ellipse ry="2" rx="6" cy="626" cx="649" stroke="#28a7e1" stroke-width="4"></ellipse>
        </g>
        <!--广佛线-->
        <g class="mouseChange">
            <polyline class="line-gf" points="341,711 341,671 136,671 136,801 36,801 36,1001 136,1001" stroke="#aa94de" stroke-width="6" fill="none"></polyline>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="341" cy="711" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="306" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="267" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="210" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="176" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="144" cy="671" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="136" cy="697" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="136" cy="729" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="136" cy="764" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="118" cy="801" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="89" cy="801" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="60" cy="801" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="36" cy="819" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="36" cy="848" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="36" cy="884" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="36" cy="921" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="36" cy="956" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="55" cy="1001" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="100" cy="1001" rx="4" ry="4"></ellipse>
            <ellipse stroke="#aa94de" stroke-width="2" fill="#ffffff" cx="139" cy="1001" rx="4" ry="4"></ellipse>
            <text class="lineText" font-size="8" y="725" x="333" fill="#000000">燕岗</text>
            <text class="lineText" font-size="8" y="685" x="295" fill="#000000">沙涌</text>
            <text class="lineText" font-size="8" y="685" x="260" fill="#000000">鹤洞</text>
            <text class="lineText" font-size="8" y="685" x="200" fill="#000000">菊树</text>
            <text class="lineText" font-size="8" y="685" x="166" fill="#000000">龙溪</text>
            <text class="lineText" font-size="8" y="660" x="125" fill="#000000">金融高新区</text>
            <text class="lineText" font-size="8" y="700" x="103" fill="#000000">千灯湖</text>
            <text class="lineText" font-size="8" y="731" x="110" fill="#000000">礌岗</text>
            <text class="lineText" font-size="8" y="768" x="145" fill="#000000">南桂路</text>
            <text class="lineText" font-size="8" y="815" x="110" fill="#000000">桂城</text>
            <text class="lineText" font-size="8" y="815" x="80" fill="#000000">朝安</text>
            <text class="lineText" font-size="8" y="790" x="45" fill="#000000">普君北路</text>
            <text class="lineText" font-size="8" y="823" x="45" fill="#000000">祖庙</text>
            <text class="lineText" font-size="8" y="852" x="45" fill="#000000">同济路</text>
            <text class="lineText" font-size="8" y="888" x="45" fill="#000000">季华园</text>
            <text class="lineText" font-size="8" y="925" x="45" fill="#000000">魁奇路</text>
            <text class="lineText" font-size="8" y="960" x="45" fill="#000000">澜石</text>
            <text class="lineText" font-size="8" y="1015" x="40" fill="#000000">世纪莲</text>
            <text class="lineText" font-size="8" y="1015" x="90" fill="#000000">东平</text>
            <text class="lineText" font-size="8" y="1015" x="125" fill="#000000">新城东</text>
            <rect height="26" width="50" y="990" x="160" fill="#aa94de" rx="5"></rect>
            <text font-size="8" y="1006" x="174" fill="#ffffff">广佛线</text>
        </g>
        <!--换乘站图片及文字-->
        <g class="change">
            <text class="line-01 line-03" font-size="8" y="448" x="635" fill="#000000">广州东站</text>
            <text class="line-01 line-03" font-size="8" y="525" x="583" fill="#000000">体育西路</text>
            <text class="line-01 line-05" font-size="8" y="525" x="546" fill="#000000">杨箕</text>
            <text class="line-01 line-06" font-size="8" y="555" x="527" fill="#000000">东山口</text>
            <text class="line-01 line-02" font-size="8" y="528" x="392" fill="#000000">公元前</text>
            <text class="line-01 line-06" font-size="8" y="593" x="210" fill="#000000">黄沙</text>
            <text class="line-01 line-gf" font-size="8" y="693" x="230" fill="#000000">西朗</text>
            <text class="line-02 line-03" font-size="8" y="235" x="535" fill="#000000">嘉禾望岗</text>
            <text class="line-02 line-05" font-size="8" y="456" x="375" fill="#000000">广州火车站</text>
            <text class="line-02 line-06" font-size="8" y="569" x="383" fill="#000000">海珠广场</text>
            <text class="line-02 line-08" font-size="8" y="659" x="431" fill="#000000">昌岗</text>
            <text class="line-02 line-07" font-size="8" y="875" x="435" fill="#000000">石壁</text>
            <text class="line-02 line-07" font-size="8" y="940" x="375" fill="#000000">广州南站</text>
            <text class="line-03 line-09" font-size="8" y="140" x="538" fill="#000000">高增</text>
            <text class="line-03 line-06" font-size="8" y="415" x="631" fill="#000000">燕塘</text>
            <text class="line-03 line-APM" font-size="8" y="490" x="585" fill="#000000">林和西</text>
            <text class="line-03 line-06" font-size="8" y="430" x="767" fill="#000000">天河客运站</text>
            <text class="line-03 line-06" font-size="8" y="597" x="580" fill="#000000">珠江新城</text>
            <text class="line-03 line-APM" font-size="8" y="645" x="585" fill="#000000">赤岗塔</text>
            <text class="line-03 line-08" font-size="8" y="690" x="595" fill="#000000">客村</text>
            <text class="line-03 line-07" font-size="8" y="850" x="634" fill="#000000">汉溪长隆</text>
            <text class="line-04 line-05" font-size="8" y="578" x="840" fill="#000000">车陂南</text>
            <text class="line-04 line-08" font-size="8" y="673" x="840" fill="#000000">万胜围</text>
            <text class="line-04 line-07" font-size="8" y="760" x="900" fill="#000000">大学城南</text>
            <text class="line-05 line-06" font-size="8" y="516" x="143" fill="#000000">坦尾</text>
            <text class="line-05 line-06" font-size="8" y="515" x="527" fill="#000000">区庄</text>
            <text class="line-05 line-13" font-size="8" y="635" x="955" fill="#000000">鱼珠</text>
            <text class="line-08 line-gf" font-size="8" y="663" x="315" fill="#000000">沙园</text>
            <text class="line-03 line-APM" font-size="8" y="50"  x="1320" fill="#000000">林和西</text>
            <text class="line-03 line-APM" font-size="8" y="305" x="1320" fill="#000000">赤岗塔</text>
            <image class="line-01 line-03" xlink:href="../img/1-3.png" height="22" width="22" y="446" x="611"></image>
            <image class="line-01 line-03" xlink:href="../img/1-3.png" height="22" width="22" y="526" x="611"></image>
            <image class="line-01 line-05" xlink:href="../img/1-5.png" height="22" width="22" y="526" x="561"></image>
            <image class="line-01 line-06" xlink:href="../img/1-6.png" height="22" width="22" y="526" x="510"></image>
            <image class="line-01 line-02" xlink:href="../img/1-2.png" height="22" width="22" y="526" x="416"></image>
            <image class="line-01 line-06" xlink:href="../img/1-6.png" height="22" width="22" y="566" x="226"></image>
            <image class="line-01 line-gf" xlink:href="../img/1-guangfou.png" height="22" width="22" y="661" x="226"></image>
            <image class="line-02 line-03" xlink:href="../img/2-3.png" height="22" width="22" y="221" x="511"></image>
            <image class="line-02 line-05" xlink:href="../img/2-5.png" height="22" width="22" y="451" x="416"></image>
            <image class="line-02 line-06" xlink:href="../img/2-6.png" height="22" width="22" y="566" x="416"></image>
            <image class="line-02 line-08" xlink:href="../img/2-8.png" height="22" width="22" y="661" x="413"></image>
            <image class="line-02 line-07" xlink:href="../img/2-7.png" height="22" width="22" y="871" x="451"></image>
            <image class="line-02 line-07" xlink:href="../img/2-7.png" height="22" width="22" y="946" x="396"></image>
            <image class="line-03 line-09" xlink:href="../img/3-9.png" height="22" width="22" y="126" x="511"></image>
            <image class="line-03 line-06" xlink:href="../img/3-6.png" height="22" width="22" y="416" x="611"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="476" x="611"></image>
            <image class="line-03 line-06" xlink:href="../img/3-6.png" height="22" width="22" y="416" x="741"></image>
            <image class="line-03 line-05" xlink:href="../img/3-5.png" height="22" width="22" y="566" x="611"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="634" x="611"></image>
            <image class="line-03 line-08" xlink:href="../img/3-8.png" height="22" width="22" y="661" x="611"></image>
            <image class="line-03 line-07" xlink:href="../img/3-7.png" height="22" width="22" y="844" x="611"></image>
            <image class="line-04 line-05" xlink:href="../img/4-5.png" height="22" width="22" y="566" x="815"></image>
            <image class="line-04 line-08" xlink:href="../img/4-8.png" height="22" width="22" y="661" x="815"></image>
            <image class="line-04 line-07" xlink:href="../img/4-7.png" height="22" width="22" y="760" x="880"></image>
            <image class="line-05 line-06" xlink:href="../img/5-6.png" height="22" width="22" y="501" x="161"></image>
            <image class="line-05 line-06" xlink:href="../img/5-6.png" height="22" width="22" y="486" x="511"></image>
            <image class="line-05 line-13" xlink:href="../img/5-13.png" height="22" width="22" y="638" x="950"></image>
            <image class="line-08 line-gf" xlink:href="../img/8-guangfou.png" height="22" width="22" y="661" x="331"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="476" x="638"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="634" x="638"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="36" x="1389"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="291" x="1389"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="36" x="1349"></image>
            <image class="line-03 line-APM" xlink:href="../img/3-APM.png" height="22" width="22" y="291" x="1349"></image>
        </g>
    </g>
</svg>

<script src="../jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $(".mouseChange").click(function () {
            event.stopPropagation();  //取消冒泡事件
            var gray = "#ddd";     //全部置灰色值
            var wordColor = "#000";     //文字初始色值
            var num = $(this).children("polyline").attr("class");    //获得是第几条线
            var color = $(this).children("polyline").attr("stroke");    //获取线路颜色
            console.log(num);
            console.log(color);
            //隐藏其他线
            $(this).siblings(".mouseChange").children("polyline").attr("style", "stroke:" + gray);
            $(this).siblings(".mouseChange").children("ellipse").attr("style", "stroke:" + gray);
            $(this).siblings(".mouseChange").children("rect").attr("style", "fill:" + gray);
            $(this).siblings(".mouseChange").children(".lineText").attr("style", "fill:" + gray);
            //其他换乘点和文字隐藏
            $(".change").children("image").css("opacity","0.2");
            $(".change").children("text").attr("style", "stroke:" + gray);

            //当前线路正常
            $(this).children("polyline").attr("style", "stroke:" + color);
            $(this).children("ellipse").attr("style", "stroke:" + color);
            $(this).children("rect").attr("style", "fill:" + color);
            $(this).children(".lineText").attr("style", "fill:" + wordColor);
            //当前线路换乘点和文字显示
            $(".change").children("." + num).attr("style", "fill:" + wordColor);  //文字
            $(".change").children("." + num).css("opacity","1");  //图片
        });
        //点击空白处回到初始状态
        $(document).on("click", function () {
            $(".double-line").hide();
            $(".mouseChange").show().children().removeAttr("style");
            $(".change").children("image").css("opacity", "1");
            $(".change").children("text").removeAttr("style");
        });
    })
</script>

</body>
</html>
